/* Leftbar.css */

/* Customize the width and color of the scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
  height: 10px; /* Height of the scrollbar */
}

/* Customize the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background: #000000; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

/* Customize the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; /* Color of the scrollbar thumb on hover */
}

/* Customize the scrollbar track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
  border-radius: 10px; /* Rounded corners of the scrollbar track */
}

/* Customize the scrollbar corner */
::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Color of the scrollbar corner */
  border-radius: 50%;
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #000000 #f1f1f1;
}
